.otherInfo {
    background-color: rgb(235, 235, 235);
    text-align: left;
    border-radius: 16px;
    padding: 20px;
    margin-top: 16px;
    max-height: calc(100vh - 292px);

    mat-card-title {
        font-size: larger;
        font-weight: 700;

        .mat-icon {
            vertical-align: middle;
            padding-right: 8px;
        }
    }

    mat-card-content {
        overflow-y: auto;
    }
    
    mat-card-actions {
        display: block;

        button {
            float: right;
            background-color: #AE445A;
        }
    }
}