mat-toolbar {
    display: inline-block;
    background-color: rgb(25, 25, 25);
    gap: 16px;
    width: 100vw;
    overflow: hidden;

    .login {
        float: right;
        margin-right: 16px;
        font-weight: 700;
        font-size: large;
        color: red;
    }

    mat-icon {
        color: orange;
    }
}