mat-toolbar {
    position: relative;
    background-color: rgb(25, 25, 25);
    gap: 16px;

    .login {
        position: absolute;
        right: 40px;
        font-weight: 700;
        font-size: large;
        color: red;
    }

    mat-icon {
        color: orange;
    }
}