.wrapper {
    display: flex;
    margin: 8px;
    gap: 16px;
    height: calc(100vh - 48px);
}

.profile {
    height: calc(100vh - 60px);
    width: 40vw;
}

.general-info {
    display: block;
    height: calc(100vh - 60px);
    width: calc(60vw - 16px);
}