mat-toolbar {
    background-color: orange;
    gap: 1rem;
    .login {
        position: absolute;
        right: 1rem;
        font-weight: 700;
        font-size: large;
    }
    .signup {
        position: absolute;
        right: 6rem;
        font-weight: 700;
        font-size: large;
    }
}