<mat-card class="profile">
    <mat-card-content>
        <img src="assets/avatar.jpg">
        <h1>Name</h1>
        <div class="line"></div>
        <div class="details">
            <h3>Specialization: </h3>
            <h3>Year: </h3>
            <h3>Group: </h3>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="info">
    <mat-card-title><mat-icon>fingerprint</mat-icon>General Information</mat-card-title>
    <mat-card-content>
        <div class="details">
            <h4>Specialization: </h4>
            <h4>Year: </h4>
            <h4>Group: </h4>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="otherInfo">
    <mat-card-title><mat-icon>fingerprint</mat-icon>Other Information</mat-card-title><br>
    <mat-card-content>
        <div>Regele Leu (engleză The Lion King) este un film de animație lansat în 1994, produs de Walt Disney Feature
            Animation, regizat de Roger Allers și Rob Minkoff și lansat de Walt Disney Pictures și Buena Vista
            Distribution pe 15 iunie 1994 în Statele Unite. Este al 32-lea film din seria de filme animate Disney, serie
            care a început în 1937 o dată cu Albă ca Zăpada și cei șapte pitici, și filmul de animație clasică cu cele
            mai importante încasări din toate timpu</div>
    </mat-card-content>
</mat-card>