.profile {
    background-color: white;
    text-align: center;
    border-radius: 16px;
    padding: 20px 0;

    img {
        border-radius: 50%;
    }

    .line {
        height: 2px;
        background-color: rgb(34, 34, 34);
    }

    .details {
        padding-top: 4%;
    }
}