/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import './theme.scss';

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #E8BCB9, #F39F5A, #AE445A, #662549, #451952, #1D1A39);
    overflow: hidden;
}