.info {
    background-color: rgb(235, 235, 235);
    text-align: left;
    border-radius: 16px;
    padding: 20px;
    height: 200px;

    mat-card-title {
        font-size: larger;
        font-weight: 700;

        .mat-icon {
            vertical-align: middle;
            padding-right: 8px;
        }
    }
}